@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-main-image {
  background-image: url("/mainbg.jpg");
}
.bg-feature-image {
  background-image: url("/banner.jpg");
}
.bg-login-image {
  background-image: url("/log.webp");
}
.logo-image {
  background-image: url("/logo.png");
}
